MONGO_URI=mongodb://localhost:27017/todolist_db
PORT=5001
UPSTASH_REDIS_REST_URL=your_upstash_url_here
UPSTASH_REDIS_REST_TOKEN=your_upstash_token_here
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=1h
NODE_ENV=development